<div *ngIf="tech">
    <h2>{{tech['name']}}</h2>

    <ul>

        <li>Expansion:
            <b>{{tech['expansion']}}</b>
        </li>

        <li>Age:
            <b>{{tech['age']}}</b>
        </li>

        <li>Develops in:
            <a routerLink="/structure/{{developsIn}}"><b>{{developsIn}}</b></a>
        </li>

        <li>Cost:
            <ul>
                <li *ngIf="tech['cost']['Food']">Food: <b>{{tech['cost']['Food']}}</b></li>
                <li *ngIf="tech['cost']['Wood']">Wood: <b>{{tech['cost']['Wood']}}</b></li>
                <li *ngIf="tech['cost']['Stone']">Stone: <b>{{tech['cost']['Stone']}}</b></li>
                <li *ngIf="tech['cost']['Gold']">Gold: <b>{{tech['cost']['Gold']}}</b></li>
            </ul>
        </li>

        <li>Build time:
            <b>{{tech['build_time']}}</b>
        </li>

        <li *ngIf="tech['applies_to']">Applies to:
            <ul>
                <li *ngFor="let appliesTo of tech['applies_to']">
                    <b>{{appliesTo}}</b>
                </li>
            </ul>
        </li>


    </ul>
    <i>{{tech['description']}}</i>
</div>